<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img alt="Coin" src="assets/coins.ico">
    <span>ThanksCoin</span>
    <span class="example-spacer"></span>
    <mat-icon *ngIf="loginUser" class="example-icon">account_circle</mat-icon>
    <span *ngIf="loginUser">{{loginUser}}</span>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon class="example-icon">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a routerLink="/home">
          <mat-icon class="example-icon">home</mat-icon>
          <span>Home</span>
        </a>
        </button>
      <button mat-menu-item>
        <a routerLink="/history">
          <mat-icon class="example-icon">history</mat-icon>
          <span>History</span>
        </a>
      </button>
      <button mat-menu-item>
        <!-- <a routerLink="/login"> -->
          <mat-icon class="example-icon">directions_walk</mat-icon>
          <span (click)="logout()">Logout</span>
        <!-- </a> -->
      </button>
      <button mat-menu-item>
          <a routerLink="/password">
            <mat-icon class="example-icon">lock_outline</mat-icon>
            <span>Password</span>
          </a>
      </button>
      <button mat-menu-item>
          <a routerLink="/ranking">
            <mat-icon class="example-icon">grade</mat-icon>
            <span>Ranking</span>
          </a>
      </button>
      <button mat-menu-item>
          <a routerLink="/transactions">
            <mat-icon class="example-icon">build</mat-icon>
            <span>Transactions</span>
          </a>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
