<div class="example-container">
    <h1>
      パスワード変更
    </h1>
    <mat-card class="example-card">
      <form [formGroup]="form">
      <div formGroupName="name">
      <mat-form-field class="example-form">
        <mat-placeholder>
          <mat-icon class="example-icon">lock</mat-icon>古いパスワード
        </mat-placeholder>
        <input formControlName="oldPassword" matInput type="password" class="example-right-align" #oldPassword (keyup)="onKeyOldPassword(oldPassword.value)">
      </mat-form-field>
      <mat-form-field class="example-form">
        <mat-placeholder>
          <mat-icon class="example-icon">lock_outline</mat-icon>新しいパスワード(1回目)
        </mat-placeholder>
        <input formControlName="newPassword1" matInput type="password" class="example-right-align" #newPassword1 (keyup)="onKeyNewPassword1(newPassword1.value)">
      </mat-form-field>
      <mat-form-field class="example-form">
        <mat-placeholder>
          <mat-icon class="example-icon">lock_outline</mat-icon>新しいパスワード(2回目)
        </mat-placeholder>
        <input formControlName="newPassword2" matInput type="password" class="example-right-align" #newPassword2 (keyup)="onKeyNewPassword2(newPassword2.value)">
      </mat-form-field>
      <button mat-raised-button color="primary" class="example-button-row" (click)="onClickChangePassword()">パスワード変更</button>
      </div>
      </form>
    </mat-card>
  </div>