<div class="example-container">
    <h1>
      Change Password
    </h1>
    <mat-card class="example-card">
      <mat-icon class="example-icon">lock</mat-icon>
      <mat-form-field class="example-form">
        <input matInput placeholder="Old Password" type="password" class="example-right-align" #oldPassword (keyup)="onKeyOldPassword(oldPassword.value)">
      </mat-form-field>
      <br/>
      <mat-icon class="example-icon">lock_outline</mat-icon>
      <mat-form-field class="example-form">
        <input matInput placeholder="New Password" type="password" class="example-right-align" #newPassword1 (keyup)="onKeyNewPassword1(newPassword1.value)">
      </mat-form-field>
      <br/>
      <mat-icon class="example-icon">lock_outline</mat-icon>
      <mat-form-field class="example-form">
        <input matInput placeholder="Confirm New Password" type="password" class="example-right-align" #newPassword2 (keyup)="onKeyNewPassword2(newPassword2.value)">
      </mat-form-field>
      <button mat-raised-button color="primary" class="example-button-row" (click)="onClickChangePassword()">Submit</button>
    </mat-card>
  </div>