<div class="center">
  <h1>
    Ranking
  </h1>
</div>
<div class="example-container">
    <mat-table #table [dataSource]="dataSource"> -->

      <!-- 社員番号 -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef>
           No. <i class="material-icons">account_circle</i>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>

      <!-- 氏名 -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>
           name <i class="material-icons">face</i>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container> -->

      <!-- 所持コイン -->
      <ng-container matColumnDef="assets">
        <mat-header-cell *matHeaderCellDef>
           Assets <i class="material-icons">attach_money</i>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.assets}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
</div>

